# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# VS Code / IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build / cache
build/
dist/
*.egg-info/